
.background {
  viewport-fill: black;
}

.datetime_string {
  font-size: 30;
  font-family: System-Regular;
  fill: white;
}

.mydata_string {
  font-size: 24;
  font-family: System-Regular;
  text-length: 30;
  fill: white;
}

